*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
.content{
    width:100%;

}
.content:after{
    content:"";
    display:block;
    clear:both;
}
/*.container-slide {
    background-image: url("../image/home/photo-1483729558449-99ef09a8c325.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/
.container-slide{
    position:relative;
}
.wrapper--slide {
    position:relative;
    overflow: hidden;
    margin: 0 auto;
    height:400px;
}
.slider {
    width: 100%;
    height:100%;
}
.slider img{
    transition:0.8s ease ;
    opacity:0;
    visibility:hidden;
    position:absolute;
    top:0;
    left:0;
}

img.active{
    opacity:1;
    visibility:visible;
}
#slider--btn-next,#slider--btn-prev{
    position:absolute;
    top:50%;
    transform:translate(-50%);
    width:30px;
    height:30px;    
    color:white; 
    font-size:35px;
    opacity:.5;
    cursor:pointer;
    transition:0.2s ease;
}
#slider--btn-prev {
    left:40px;
}
#slider--btn-prev:hover{
    opacity:.8;
}
#slider--btn-next {
    right:20px;
}
#slider--btn-next:hover {
    opacity: .8;
}
.wrapper--search-form{
    position:absolute;
    width:50%;
    left:5%;
    bottom:0%;
    
}
.search-form{
    position:relative;
}
.wrapper--search-form--title{
    width:100%;
    height:40px;
}
.search-form--title {
    width: 100%;
    height: 100%;
    display: flex;
}
.search-form--title li{
    flex-grow:1;    
    margin:0;
    height:100%;
    border-right:1px solid rgba(255, 249, 249, 0.63);
}
.light-color {
    background-color: rgba(50, 170, 214, 0.54);
}
.btn-color {
    background-color: #346bce;
    margin: 0 10px;
    text-align: center;
    transition:all 0.2s ease;
}
.btn-color:hover{
    background-color:cornflowerblue;
}
.btn_submit--search {
    border-radius: 5px;
    background:transparent;
    padding: 0 20px;
    border: none;
    line-height: 40px;
    color: white;
    font-weight: bold;
    outline:0;
}
.dark-color {
    background-color: rgba(34, 121, 144, 0.54);
}
.search-form--title li:last-child{
    border-right:none;
}
.search-form--title li a{
    text-align:center;
    display:block;
    line-height:40px;
    font-size:13px;
    font-weight:bold;
    color: white;
}
.search-form--title li a i{
    margin-right:5px;
}
.search-form--tab-content {
    position:relative;
    min-height:100px;
}
.tab-content--search-tour {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 10px 20px;
    background-color: rgba(243, 241, 241, 0.72);
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
/*    border-top-right-radius:3px;*/
    opacity:0;
    visibility:hidden;
}
.check--choose-tour:after{
    content:"";
    display:block;
    clear:both;
}
.radio-tour-in, .radio-tour-out{
    float:left;
    margin-right:20px;
}
.check--info-tour{
    display:flex;
    margin-top:15px;
}
#choose-cost-hotel{
    width:90%;
}
.search-tour-item{
    width:25%;
    height:35px;
    background-color:white;
    border:1px solid gray;
    line-height:33px;
    font-size:13px;
    border-right:0;
    float:left;
}
.search-tour-item:last-child{
    border-right:1px solid gray;
}
.search-tour-item input{
    width:80%;
    border:none;
    outline:0;
    padding-left:5px;
}
.tab-content--search-tour.active-search {
    opacity: 1;
    visibility: visible;
}

.container-panel__content{
    width:100%;
    margin-bottom:50px;
/*    min-height:1000px;*/

}
.container-panel__content1{
    width:85%;
    margin:30px auto;
}
.container-panel__content1--title>h3 {
    text-transform: uppercase;
    margin: 10px 0 10px 10px;
}
.container-panel__content1 hr{
    border-top:none;
    margin:0 10px;
}
.container-panel__content1--box{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.container-panel__content1--box--item {
    flex-basis: 25%;    
    min-width:250px;
    margin-top: 15px;
    padding: 10px;
    height: 230px;
}
.panel__content1--box--item1 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box-item--img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.box-item--img a{
    position:relative;
}
.box-item--img a img{
    width:100%;
    height:100%;
    border-radius: 5px;
    transition: all ease 0.4s;
}
.box-item--img a img:hover{
    transform:scale(1.1);
}
.box-item--img a h3{
    width:100%;
    height:35px;
    position:absolute;
    margin:0;
    text-align:center;
    color:white;
    line-height:35px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    bottom:3px;
    background: rgba(0,174,239,.7);
}
.container-panel__ks-theo-tinh{
    width:100%;
    margin-bottom:30px;
}
.container-panel__ks-theo-tinh1{
    width:85%;
    margin:0 auto;
    padding:0 10px;
}
.container-panel__ks-theo-tinh1 h3{
    text-transform:uppercase;
    margin-bottom:10px;
}
.container-panel__ks-theo-tinh1 hr{
    border-bottom:0;
}
.list-dd {
    margin-top: 10px;
    font-size: 13px;
}
.list-dd a{
    color: #44242b;
    line-height:25px;
}